<h1 class="display-3"> A Quick Puzzle to Test Your Problem Solving </h1>

<h2 class="display-4"> Here’s how it works: </h2>

<p class="lead"> We’ve chosen a rule that some sequences of three numbers obey — and some do
not. Your job is to guess what the rule is. </p>

<p class="lead"> We’ll start by telling you that the sequence 2, 4, 8 obeys the rule: </p>

<p class="lead">
  <span class="badge badge-success">2</span>
  <span class="badge badge-success">4</span>
  <span class="badge badge-success">8</span>
  <span class="text-success">Obeys the rule</span>
</p>

<p class="lead"> Now it’s your turn. Enter a number sequence in the boxes below, and we’ll
tell you whether it satisfies the rule or not. You can test as many sequences as
you want. </p>