<h1 class="display-3"> A Quick Puzzle to Test Your Problem Solving </h1>

<h2 class="display-4"> Here’s how it works: </h2>

<p class="lead"> We’ve chosen a rule that some sequences of three numbers obey — and some do
not. Your job is to guess what the rule is. </p>

<p class="lead"> We’ll start by telling you that the sequence 2, 4, 8 obeys the rule: </p>

<p class="lead">
  <span class="badge badge-success">2</span>
  <span class="badge badge-success">4</span>
  <span class="badge badge-success">8</span>
  <span class="text-success">Obeys the rule</span>
</p>

<p class="lead"> Now it’s your turn. Enter a number sequence in the boxes below, and we’ll
tell you whether it satisfies the rule or not. You can test as many sequences as
you want. </p>

<p class="lead">
  Your guesses:
</p>


<p class="lead">
  <span class="badge badge-success">
    3
  </span>

  <span class="badge badge-success">
    6
  </span>

  <span class="badge badge-success">
    12
  </span>

  <span class="text-success">
      Yes!
  </span>
</p>

<p class="lead">
  <span class="badge badge-danger">
    3
  </span>

  <span class="badge badge-danger">
    2
  </span>

  <span class="badge badge-danger">
    1
  </span>

  <span class="text-danger">
      No.
  </span>
</p>

<p class="lead"><strong>Enter a sequence to test:</strong></p>

<!-- Form for sequence goes here -->

<hr>

<p class="lead">When you think you know the rule, describe it in words below and then submit
your answer. <strong>Make sure you’re right; you won’t get a second
chance.</strong></p>

<!-- Form for guess goes here -->

<hr>


<h2>Your guess was:</h2>

<p class="lead">
  Doubling numbers
</p>

<p class="lead">The answer was extremely basic. The rule was simply: <strong>Each number must
be larger than the one before it.</strong> 5, 10, 20 satisfies the rule, as does
1, 2, 3 and -17, 14.6, 845. Children in kindergarten can understand this
rule.</p>

<p class="lead">But most people start off with the incorrect assumption that if we’re asking
them to solve a problem, it must be a somewhat tricky problem. They come up with
a theory for what the answer is, like: Each number is double the previous
number. And then they make a classic psychological mistake.</p>

<p class="lead">They don’t want to hear the answer “no.” In fact, it may not occur to them to
ask a question that may yield a no.</p>

<p class="lead">Remarkably, 77 percent of people who have played this game so far have
guessed the answer without first hearing a single no. A mere 9 percent heard at
least three nos — even though there is no penalty or cost for being told no,
save the small disappointment that every human being feels when hearing
“no.”</p>

<p class="lead">It’s a lot more pleasant to hear “yes.” <strong>That, in a nutshell, is why so many
people struggle with this problem.</strong></p>

<h2>Confirmation Bias</h2>

<p class="lead">This disappointment is a version of what psychologists and economists call
confirmation bias. Not only are people more likely to believe information that
fits their pre-existing beliefs, but they’re also more likely to go looking for
such information. This experiment is a version of one that the English
psychologist Peter Cathcart Wason used in a seminal 1960 paper on confirmation
bias. (He used the even simpler 2, 4 and 6, rather than our 2, 4 and 8.)</p>

<p class="lead">Most of us can quickly come up with other forms of confirmation bias — and
yet the examples we prefer tend to be, themselves, examples of confirmation
bias. If you’re politically liberal, maybe you’re thinking of the way that many
conservatives ignore strong evidence of global warming and its consequences and
instead glom onto weaker contrary evidence. Liberals are less likely to recall
the many incorrect predictions over the decades, often strident and often from
the left, that population growth would create widespread food shortages. It
hasn’t.</p>

<p class="lead">This puzzle exposes a particular kind of confirmation bias that bedevils
companies, governments and people every day: the internal yes-man (and
yes-woman) tendency. We’re much more likely to think about positive situations
than negative ones, about why something might go right than wrong and about
questions to which the answer is yes, not no.</p>

<p class="lead">Sometimes, the reluctance to think negatively has nothing to do with
political views or with a conscious fear of being told no. Often, people never
even think about asking questions that would produce a negative answer when
trying to solve a problem — like this one. They instead restrict the universe of
possible questions to those that might potentially yield a “yes.”</p>

<h3>Government Policy</h3>

<p class="lead">In this exercise, the overwhelming majority of readers gravitated toward
confirming their theory rather than trying to disprove it. A version of this
same problem compromised the Obama administration’s and Federal Reserve’s
(mostly successful) response to the financial crisis. They were too eager to
find “green shoots” of economic recovery that would suggest that the answer to
the big question in their minds was, just as they hoped and believed: “Yes, the
crisis response is aggressive enough, and it’s working.” More damaging was the
approach that President George W. Bush’s administration, and others, took toward
trying to determine whether Iraq had weapons of mass destruction a decade ago —
and how the Iraqi people would react to an invasion. Vice President Dick Cheney
predicted in 2003, “We will, in fact, be greeted as liberators.”</p>

<h3>Corporate America</h3>

<p class="lead">Corporate America is full of more examples. Executives of Detroit’s Big Three
didn’t spend enough time brainstorming in the 1970s and 1980s about how their
theory of the car market might be wrong. Wall Street and the Fed made the same
mistake during the dot-com and housing bubbles. To pick an example close to
home, newspapers didn’t spend enough time challenging the assumption that
classified advertisements would remain plentiful for decades.</p>

<p class="lead">One of the best-selling business books in history — about negotiation
strategy — is “Getting to Yes.” But the more important advice for us may instead
be to go out of our way to get to no. When you want to test a theory, don’t just
look for examples that prove it. When you’re considering a plan, think in detail
about how it might go wrong.</p>

<p class="lead">Some businesses have made this approach a formal part of their
decision-making: Imagine our strategy has failed; what are the most likely
reasons it did? As Jason Zweig has written in The Wall Street Journal, “Gary
Klein, a psychologist at Applied Research Associates, of Albuquerque, N.M.,
recommends imagining that you have looked into a crystal ball and have seen that
your investment has gone bust.”</p>

<p class="lead">When you seek to disprove your idea, you sometimes end up proving it — and
other times you can save yourself from making a big mistake. But you need to
start by being willing to hear no. And even if you think that you are right, you
need to make sure you’re asking questions that might actually produce an answer
of no. If you still need to work on this trait, don’t worry: You’re only
human.</p>

<p class="lead">Note: We’re grateful to Barry Nalebuff, a Yale professor and game-theory
specialist, for suggesting this problem and helping put it in a larger
context.</p>

<p class="lead"><a href="https://www.nytimes.com/interactive/2015/07/03/upshot/a-quick-puzzle-to-test-your-problem-solving.html" target="_blank">Original source</a>: https://www.nytimes.com/interactive/2015/07/03/upshot/a-quick-puzzle-to-test-your-problem-solving.html</p>
