<%= render({ :partial => "pages/intro.html.erb" })%>

<p class="lead">
  Your guesses:
</p>

<!-- Loop over all of the user's guesses here -->
<p class="lead">
  <span class="badge badge-success">
    3
  </span>

  <span class="badge badge-success">
    6
  </span>

  <span class="badge badge-success">
    12
  </span>

  <span class="text-success">
      Yes!
  </span>
</p>

<p class="lead">
  <span class="badge badge-danger">
    3
  </span>

  <span class="badge badge-danger">
    2
  </span>

  <span class="badge badge-danger">
    1
  </span>

  <span class="text-danger">
      No.
  </span>
</p>
<!-- End loop -->

<p class="lead"><strong>Enter a sequence to test:</strong></p>

<form action="/record_guess" method="post">
  <label for="first_box">
    First number
  </label>

  <input id="first_box" name="first_num" type="text">

  <label for="second_box">
    Second number
  </label>

  <input id="second_box" name="second_num" type="text">

  <label for="third_box">
    Third number
  </label>

  <input id="third_box" name="third_num" type="text">

  <button>
    Check
  </button>
</form>

<hr>

<p class="lead">When you think you know the rule, describe it in words below and then submit
your answer. <strong>Make sure you’re right; you won’t get a second
chance.</strong></p>

<!-- Form for guess goes here -->

<hr>


<h2>Your guess was:</h2>

<p class="lead">
  Doubling numbers
</p>

<%= render({ :partial => "pages/outro.html.erb" }) %>
